@font-face {
  font-family: 'droid_sansregular';
  src: url('fonts/DroidSans-webfont.eot');
  src: url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/DroidSans-webfont.woff') format('woff'),
    url('fonts/DroidSans-webfont.ttf') format('truetype'),
    url('fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'droid_sansregular', Arial, sans-serif;
  /*background-image: url("images/WallpaperTrailerRamonRiffle.jpg");*/
  margin: 0px;
  padding: 0px;
  background: url("images/WallpaperTrailerRamonRiffle.jpg") center;
}

#contenu {

  min-height: 950px;
  display: inline-block;
  vertical-align: top;
  /*position: relative;*/
  width: 79%;
  margin: 0px;
  padding: 0px;
}

#left_panel {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  margin-right: 2%;
  background-color: #EFB810;
  border-radius: 5px;
  min-height: 950px;
  margin: 0px;
  padding: 0px;

}

h1 {
  text-align: center;
}

img {
  /*position: absolute;*/
  float: right;
  right: 5px;
  margin-right: 3%;

  border: 1px black solid;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 6px 6px 6px black;
}

.sous_titre {
  text-align: center;
}

section {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin-right: 2%;
}

h2 {
  color: #354552;

}
.fish
{
  color: white;
}
