@font-face
{
    font-family: 'droid_sansregular';
    src: url('fonts/DroidSans-webfont.eot');
    src: url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'droid_sansregular', Arial, sans-serif;
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  margin-bottom: 10px;
  background-image: url("images/cream.jpg");
}

#corps_de_page {
  display: flex;
}

#left_panel {
  width: 10%;
  background-color: #383838;
  border-radius: 5px;
  margin-right: 20px;
}



#header {
  display: flex;
  justify-content: center;
  position: relative;
}

img {
  border: 1px black solid;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 6px 6px 6px black;
}

.element2 {
  position: absolute;
  right: 5px;
}

.sous_titre {
  text-align: center;
}

#experience, #competences, #formation {
  width: 33%;
}

#cv {
  display: flex;
  justify-content: space-around;
}

#cv p {
  font-size: 1em;
}

h2
  color: #545454;
}

p, li {
  font-size: 1em;
}
